* {
    text-align: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-family: "roboto condensed", sans-serif;
}

:root {
    --white-color: #eeee;
    --black-color: #0f161d;
}


body,
html {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: #181818;
    gap: 1.875rem;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: .625rem;
    margin-bottom: 15.625rem;
}


h1 {
    color: orange;
}

span {
    color: white;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .625rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .625rem;
}

.is-light {
    background-color: var(--white-color);
    color: var(--black-color);
}

.is-dark {
    background-color: var(--black-color);
    color: var(--white-color);
}

.button-resp {
    cursor: pointer;
    width: 5.125rem;
    height: 1.2625rem;
    background-color: orange;
    border: none;
    border-radius: .625rem;
    margin: .625rem;
    color: #ffff;
}

.button-mode {
    cursor: pointer;
    border: none;
    border-radius: 9999px;
    background: none;
}

input {
    border: orange solid 2px;
    border-radius: 6px;
    height: 1.2rem;
    background-color: transparent;
    color: orange;
}

#numbersResult {
    list-style-type: none;
}

footer {
    padding: 1rem;
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color:#181818 ;
    color: orange;
}